.CookiesUploaderBox {
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  input {
    display: none;
  }
}

.CookiesUploader {
  cursor: pointer;

  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 480px;

  background: #191616;
  border: 2px solid #252525;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 3rem;

  font-size: 18px;
  font-weight: 600;

  color: #c08347;
  text-align: center;

  p {
    color: #FFFFFF;
    font-weight: 500;
  }

  padding: 8px;
}